# templates\traefik\secrets\traefik-dashboard-secret.yaml.j2
# Traefik Dashboard Secret (basic-auth)
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-secret
  namespace: kube-system
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
type: Opaque
stringData:
  auth: "{{ traefik_basic_auth }}"