# templates\traefik\middleware-secure-headers.yaml.j2
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: secure-headers
  namespace: {{ traefik_namespace }}
spec:
  headers:
    frameDeny: true
    sslRedirect: true
    stsIncludeSubdomains: true
    stsSeconds: 31536000
    browserXssFilter: true
    contentTypeNosniff: true
