# templates\traefik\tlsstore-default.yaml.j2
# templates/traefik/tlsstore-default.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default  # Este nombre es obligatorio para ser TLSStore global
  namespace: "{{ traefik_namespace | default('kube-system') }}"
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  defaultCertificate:
    secretName: "{{ internal_tls_secret_name }}"