templates\traefik\tlsstore-default.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: TLSStore
metadata:
  name: default
  namespace: {{ traefik_namespace }}
spec:
  defaultCertificate:
    secretName: {{ internal_tls_secret_name }}