# files/traefik-dashboard-ingressroute.yaml
# Exposición del Dashboard de Traefik vía IngressRoute con autenticación
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: kube-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`traefik.socialdevs.site`) && PathPrefix(`/dashboard`) || PathPrefix(`/api`)
      kind: Rule
      services:
        - name: traefik
          port: 9000
      middlewares:
        - name: {{ traefik_dashboard_middleware_name }}