# files/traefik-dashboard-ingressroute.yaml
# Exposición del Dashboard de Traefik vía IngressRoute con autenticación
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: kube-system
  labels:
    app: traefik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`traefik.socialdevs.site`) && PathPrefix(`/dashboard`)
      kind: Rule
      middlewares:
        - name: {{ traefik_dashboard_middleware_name }}
          namespace: {{ traefik_namespace }}
      services:
        - name: {{ traefik_release_name }}
          port: 9000
  tls:
    certResolver: {{ traefik_cert_resolver }}