# templates\traefik\traefik-dashboard-middleware.yaml.j2
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: {{ traefik_dashboard_middleware_name }}
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: ingress
spec:
  basicAuth:
    secret: {{ traefik_dashboard_secret_name }}  # Este nombre debe coincidir con el secret que contiene las credenciales.
    headerField: "X-Forwarded-Authorization"  # Usamos un encabezado estándar para la autenticación.
    removeHeader: false  # No eliminar el encabezado de autorización.