# templates/traefik/traefik-dashboard-middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ traefik_dashboard_middleware_name }}    # ✔️ Nombre dinámico
  namespace: {{ traefik_namespace }}                # ✔️ Espacio correcto (ej. kube-system)
  annotations:
    sealedsecrets.bitnami.com/managed: "true"       # ✔️ Para control con SealedSecrets (estético aquí)
    maintained-by: devops@socialdevs.site           # ✔️ Metadata útil
    created-by: ansible
spec:
  basicAuth:
    secret: {{ traefik_dashboard_secret_name }}     # ✔️ Secret debe contener clave base64 de `users:htpasswd`
    removeHeader: true                              # ✔️ Seguridad adicional
    realm: "Traefik Dashboard"                      # ✔️ Mensaje personalizado del cuadro de login
    headerField: "X-WebAuth"                        # ✔️ Opcional, útil para tracking