# files/traefik-dashboard-ingressroute.yaml
# Exposición del Dashboard de Traefik vía IngressRoute con autenticación
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: kube-system
  labels:
    app: traefik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`traefik.socialdevs.site`) || PathPrefix(`/dashboard`)
      kind: Rule
      services:
        - name: traefik
          port: 9000
      middlewares:
        - name: traefik-auth
          namespace: kube-system
  tls:
    certResolver: letsencrypt