# templates/traefik/traefik-dashboard-ingressroute-internal.yaml.j2
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-traefik-dashboard-internal
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: ingress
    app.kubernetes.io/part-of: platform
    access: internal
    environment: prod
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`traefik.socialdevs.site`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      kind: Rule
      middlewares:
        - name: {{ traefik_dashboard_middleware_name }}
          namespace: {{ traefik_namespace }}
      services:
        - name: traefik
          port: 9000
  tls:
    secretName: {{ internal_tls_secret_name }}