# templates/traefik/traefik-dashboard-ingressroute-internal.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-{{ app_name }}-dashboard-internal
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: ingress
    access: internal
    environment: prod
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  entryPoints:
    - websecure
  routes:
    # 1) Rutas /api → servicio api@internal
    - match: Host(`{{ internal_domain }}`) && PathPrefix(`/api`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
      middlewares:
        - name: {{ traefik_dashboard_middleware_name }}
          namespace: {{ traefik_namespace }}

    # 2) Rutas estáticas y UI → servicio dashboard@internal
    - match: Host(`{{ internal_domain }}`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: dashboard@internal
          kind: TraefikService
      middlewares:
        - name: {{ traefik_dashboard_middleware_name }}
          namespace: {{ traefik_namespace }}

  tls:
    secretName: {{ internal_tls_secret_name }}