# templates/traefik/traefik-dashboard-stripprefix-middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-dashboard-prefix
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: middleware
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  stripPrefix:
    prefixes:
      - "/dashboard"
    forceSlash: true