# templates/traefik/traefik-dashboard-middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ traefik_dashboard_middleware_name }}
  namespace: {{ traefik_namespace }}
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  basicAuth:
    secret: "{{ traefik_dashboard_secret_name }}"
    removeHeader: true
    realm: "Traefik Dashboard"
    headerField: "X-WebAuth"