# templates/traefik/traefik-dashboard-ingressroute-internal.yaml.j2
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-{{ app_name }}-dashboard-internal
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: ingress
    access: internal
    environment: prod
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  entryPoints:
    - websecure  # Cambié 'traefik' por 'websecure' para que se use HTTPS en el puerto 443.
  routes:
    - match: Host(`{{ internal_domain }}`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))  # Correcto para la ruta del dashboard.
      kind: Rule
      middlewares:
        - name: {{ traefik_dashboard_middleware_name }}
          namespace: {{ traefik_namespace }}
      services:
        - name: {{ service_name }}
          port: 9000  # El puerto del dashboard es el 9000 en el servicio interno.
  tls:
    secretName: {{ internal_tls_secret_name }}  # TLS configurado con el certificado correspondiente.