# templates\traefik\values_pvc.yaml.j2
#######################################################################
#          Valores Helm  Traefik con certificados en un PVC          #
#######################################################################

replicaCount: 1  # Evitamos conflictos RWX si Longhorn no soporta multienganche

additionalVolumeMounts:
  - name: certs
    mountPath: /etc/traefik/certs
    readOnly: true

additionalVolumes:
  - name: certs
    persistentVolumeClaim:
      claimName: {{ traefik_pvc_name }}

logs:
  general:
    level: INFO
  access:
    enabled: true

deployment:
  podSecurityContext:
    fsGroup: 1000  # Para que uid 1000 pueda leer aunque .key sea 0600

securityContext:
  runAsUser: 1000
  runAsGroup: 1000

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"
    http:
      tls: {}

  metrics:
    address: ":9100"

  traefik:
    address: ":9000"

ports:
  web:
    port: 80
    nodePort: 32591
    protocol: TCP

  websecure:
    port: 443
    nodePort: 31541
    protocol: TCP

  metrics:
    port: 9100
    nodePort: 31900
    protocol: TCP

service:
  type: NodePort
  externalTrafficPolicy: Cluster

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addServicesLabels: true
    buckets: "0.1,0.3,1.2,5.0"

tls:
  enabled: true
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/certs/wildcard-socialdevs-tls.crt
        keyFile: /etc/traefik/certs/wildcard-socialdevs-tls.key

certificatesResolvers:
  default:
    acme:
      email: {{ letsencrypt_email }}
      storage: /data/acme.json
      httpChallenge:
        entryPoint: web

additionalArguments:
  - "--api.dashboard=true"
  - "--ping=true"
  - "--entrypoints.web.address=:80"
  - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
  - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
  - "--entrypoints.websecure.address=:443"
  - "--entrypoints.websecure.http.tls=true"
  - "--entrypoints.metrics.address=:9100"
  - "--metrics.prometheus=true"
  - "--metrics.prometheus.entrypoint=metrics"
  - "--metrics.prometheus.addEntryPointsLabels=true"
  - "--metrics.prometheus.addServicesLabels=true"
  - "--metrics.prometheus.buckets=0.1,0.3,1.2,5.0"
  - "--providers.kubernetescrd"
  - "--providers.kubernetescrd.allowEmptyServices=true"
  - "--providers.kubernetesingress"
  - "--providers.kubernetesingress.allowEmptyServices=true"
  - "--providers.kubernetesingress.ingressendpoint.publishedservice={{ traefik_namespace }}/{{ traefik_release_name }}"