# templates/traefik/values_nopvc.yaml.j2
deployment:
  kind: Deployment

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  metrics:
    address: ":9100"

ports:
  web:
    redirectTo:
      port: websecure
  websecure:
    tls:
      enabled: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@socialdevs.site
      storage: /data/acme.json
      httpChallenge:
        entryPoint: web

# ❌ Desactivamos el IngressRoute automático para el dashboard (lo gestionas tú manualmente)
ingressRoute:
  dashboard:
    enabled: false

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    entryPoint: metrics
    buckets: "{{ [0.1, 0.3, 1.2, 5.0] | join(',') }}"