deployment:
  kind: Deployment

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  metrics:
    address: ":9100"

ports:
  web:
    redirectTo:
      port: websecure
  websecure:
    tls:
      enabled: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@socialdevs.site
      storage: /data/acme.json
      httpChallenge:
        entryPoint: web

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
    entryPoints:
      - websecure
    auth:
      basic:
        secret: {{ traefik_dashboard_secret_name }}

persistence:
  enabled: true
  name: acme-storage
  accessMode: ReadWriteOnce
  size: 1Mi
  path: /data
  storageClass: longhorn

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    entryPoint: metrics
    buckets: "{{ [0.1, 0.3, 1.2, 5.0] | join(',') }}"