deployment:
  kind: Deployment

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  metrics:
    address: ":9100"

ports:
  web:
    redirectTo:
      port: websecure
  websecure:
    tls:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
    entryPoints:
      - websecure
    auth:
      basic:
        secret: {{ traefik_dashboard_secret_name }}

{% if traefik_storage_enabled %}
persistence:
  enabled: true
  name: acme-storage
  accessMode: ReadWriteOnce
  size: 1Mi
  path: /data
  {% if traefik_storage_class %}
  storageClass: {{ traefik_storage_class }}
  {% else %}
  volumes:
    - name: acme-storage
      hostPath:
        path: {{ traefik_storage_path }}
        type: DirectoryOrCreate

  volumeMounts:
    - name: acme-storage
      mountPath: /data
      readOnly: false
  {% endif %}
{% endif %}

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    entryPoint: metrics
    buckets: "{{ [0.1, 0.3, 1.2, 5.0] | join(',') }}"