# templates/traefik/values_nopvc.yaml.j2
deployment:
  replicas: 1

additionalArguments:
  - "--api.dashboard=true"
  - "--metrics.prometheus=true"
  - "--entrypoints.web.address=:80"
  - "--entrypoints.websecure.address=:443"
  - "--entrypoints.metrics.address=:9100"
  - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
  - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
  - "--entrypoints.websecure.http.tls=true"  # 👈 IMPORTANTE: habilita TLS en websecure

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addServicesLabels: true
    buckets: "{{ [0.1, 0.3, 1.2, 5.0] | join(',') }}"

service:
  enabled: true
  type: ClusterIP

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["websecure"]
    annotations:
      kubernetes.io/ingress.class: traefik
    middlewares:
      - name: traefik-auth
        namespace: kube-system
    matchRule: Host(`traefik.socialdevs.site`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))

securityContext:
  enabled: false