# templates\traefik\values.yaml.j2

additionalArguments:
  - "--entrypoints.web.address=:80"
  - "--entrypoints.websecure.address=:443"
  - "--certificatesresolvers.le.acme.email={{ letsencrypt_email }}"
  - "--certificatesresolvers.le.acme.storage=/data/acme.json"
  - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"

ports:
  web:
    redirectTo: websecure
  websecure:
    tls:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    labels: {}
    entryPoints: ["websecure"]
    middlewares: []

persistence:
  enabled: true
  name: acme-storage
  accessMode: ReadWriteOnce
  size: 1Mi
  path: /data
  storageClass: ""

volumes:
  - name: acme-storage
    hostPath:
      path: /var/lib/traefik
      type: DirectoryOrCreate

volumeMounts:
  - name: acme-storage
    mountPath: /data
    readOnly: false