# templates\secrets\tls-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ internal_tls_secret_name }}
  namespace: {{ traefik_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ cert_base64 }}
  tls.key: {{ key_base64 }}