# templates\secrets\traefik-dashboard-secret.yaml.j2
# templates/secrets/traefik-dashboard-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ traefik_dashboard_secret_name }}
  namespace: {{ traefik_namespace }}
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
type: Opaque
stringData:
  users: "{{ traefik_basic_auth }}"