# templates\secrets\traefik-dashboard-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ traefik_dashboard_secret_name }}  # Nombre del Secret (por ejemplo, traefik-dashboard-secret)
  namespace: {{ traefik_namespace }}  # Namespace donde se creará el Secret
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
type: Opaque
data:
  users: {{ traefik_basic_auth }}  # Aquí deben estar las credenciales en base64 (valor generado por htpasswd)