# templates/traefik/traefik-dashboard-middleware.yaml.j2
# Middleware de autenticación básica para el dashboard de Traefik
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-auth
  namespace: {{ traefik_namespace }}
spec:
  basicAuth:
    secret: {{ traefik_dashboard_secret_name }}
